<!DOCTYPE html>
<html lang="en">
<head>
	<!--css--> 	
	<link rel="stylesheet" type="text/css" href="css/stylesheet.css">
	<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=PT+Sans">
	<link href="css/bootstrap.min.css" rel="stylesheet" media="screen">

	<!--jqueries and bubble settings-->
	<script src="js/jquery-1.11.0.min.js"></script>

</head> <!--end of head-->
	<body>

		<div id="container">


			<div id="header6">
				<a href="index.html"><img id="home_button" src="images/homepage.png"></a>
				
			</div>

			<!--version a and version b-->
			{{#if old}}
			<p>
				<div id="submission_form2">
					<form name="detail" action="list" method="post">
						<p class="feeding_titles">Title:</p>				 
						<input class= "form_fields" type="text" name="title">
						<button class="btn btn-default doneBtn">Done</button>				    		
						<p class="feeding_titles">Goal:</p>
						<input class= "form_fields" type="text" name="goal">
						<button class="btn btn-default doneBtn">Done</button>

						<p class="feeding_titles">Amount:</p>
						<input id= "description_form" type="text" name="needed">
						<button class="btn btn-default doneBtn">Done</button>

						<p class="feeding_titles">Description:</p>
						<input class= "form_fields" type="text" name="current">
						<button class="btn btn-default doneBtn">Done</button>
					
					<!--<input type="submit" value="submit">--> 
					</form>
				</div>
			</p>
			{{else}}
			<p>
				<div id="submission_form2">
					
					<form name="detail" action="list" method="post">
						<p class="feeding_titles">Saving For...:</p>				 
						<input class= "form_fields" type="text" name="title">
						<button class="btn btn-default doneBtn">Done</button>				    		
						<p class="feeding_titles">Goal Amount ($):</p>
						<input class= "form_fields" type="text" name="goal">
						<button class="btn btn-default doneBtn">Done</button>

						<p class="feeding_titles">Amount towards the goal ($):</p>
						<input id= "description_form" type="text" name="needed">
						<button class="btn btn-default doneBtn">Done</button>

						<p class="feeding_titles">Description for the piggy:</p>
						<input class= "form_fields" type="text" name="current">
						<button class="btn btn-default doneBtn">Done</button>
					
					    <input type="submit" value="submit">--> 
				    
					</form>
				</div>
			</p>

			{{/if}}
		
	

		<script src="js/bootstrap.min.js"></script>
		<script src="/js/introHCI.js"></script>

		<script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		  ga('create', 'UA-48705134-1', { 'cookieDomain': 'none' });
		  ga('send', 'pageview');

		</script>

	</body>


</html>



